.numpad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 40vmin;
  width: 48vmin;
}

.numberButton {
  font-size: 6vmin;
  height: 12vmin;
  width: 15vmin;
  margin: 2px;
}

.deleteButton {
  font-size: 4vmin;
  height: 12vmin;
  width: 47vmin;
  margin: 2px;
}
